// Variables for easy color customization
$primary-color: #5a2e66;
$secondary-color: #5d2a8c;
$highlight-color: rgb(103, 30, 103);
$background-color: #f0f0f0;
$error-color: #e74c3c;
$white-color: #fff;
$input-border-color: #ddd;
$input-focus-border-color: $highlight-color;

// Mixins for reusability
@mixin transition($property, $duration, $easing) {
  transition: $property $duration $easing;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  overflow-y: auto;
  width: 100vw;
  background-color: $background-color;
  padding: 20px;
  //overflow: hidden;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container div {
  text-align: center;
  width: 100%;
  height: fit-content;
  max-width: 500px;
  background-color: $white-color;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10 px 15px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.8s ease-out;
  box-sizing: border-box;
  
}


.title h1 {
  font-size: 2rem;
  color: $primary-color;
  margin-bottom: 20px;
  animation: fadeIn 1s ease;
}


input {
  padding: 12px;
  border: 1px solid $input-border-color;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #fafafa;
  outline: none;
  box-sizing: border-box; 
  @include transition(border-color, 0.3s, ease);

  &:focus {
    border: 1px solid $input-focus-border-color;
  }

  &::placeholder {
    color: #aaa;
  }
}

button {
  padding: 12px 20px;
  background-color: $primary-color;
  color: $white-color;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
  @include transition(background-color, 0.3s, ease);

  &:hover {
    background-color: $secondary-color;
  }
}

.error-message {
  color: $error-color;
  font-size: 16px;
  margin-top: 20px;
}

.synonymListContainer {
  overflow-y: auto;
  max-height: 100px;
  overflow-y: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth; 
  &::-webkit-scrollbar {
    width: 6px;
    
  }
  &::-webkit-scrollbar-thumb {
    background: $highlight-color;
    border-radius: 4px;
  }
}

.synonymItem {
  padding: 0.25rem 0;
  font-size: 0.95rem;
}

.synonyms-list {
  margin-top: 20px;

  h3 {
    color: $primary-color;
    font-size: 1.2rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 16px;
      color: #333;
      margin-bottom: 5px;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}

.audio-player {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  audio {
    width: 100%;
    max-width: 300px;
  }
}


.toast-container {
  position: fixed;
  right:10%;
  left: 45%;
  transform: translateX(-33%);
 /* bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  pointer-events: none;
  border: 1px solid $input-border-color;
  background-color: pink;*/
}

.toast {
  background-color: rgba(0, 0, 0, 0.7);
  color: $error-color;
  padding: 12px 20px;
  border-radius: 8px;
  margin-top: 10px;
  animation: toastAnimation 0.5s ease;
  font-weight: bold;
}


  @media (max-width: 480px) {
    .container div {
      padding: 20px;
    }
  
    input,
    button {
      font-size: 14px;
    }
    .synonyms-list{
      font-size: 14px;
    }
  
  }